Repository TorchJD/torchjd, pull requests merged in 2024-12, with the labels that each got.

#190 Update `pre_commit.yml` to use `cache@v4`
  .github/workflows/pre_commit.yml
Labels: ci/cd

#191 Add `fail-fast: false` in `tests.yml`
  .github/workflows/tests.yml
Labels: ci/cd

#193 Add badge for pre-commit.ci in README
  README.md
Labels: documentation, ci/cd

#192 Remove pre_commit.yml action
  .github/workflows/pre_commit.yml
Labels: ci/cd

#189 Document the `retains_grad` issue
  CHANGELOG.md
  src/torchjd/autojac/_transform/jac.py
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: documentation, tests, package: autojac

#186 Provide default value for `inputs` in `backward`
  CHANGELOG.md
  docs/source/examples/basic_usage.rst
  docs/source/examples/iwrm.rst
  src/torchjd/autojac/_utils.py
  src/torchjd/autojac/backward.py
  tests/doc/test_backward.py
  tests/doc/test_rst.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_utils.py
Labels: enhancement, package: autojac

#183 Make `shared_params` and `tasks_params` optional in `mtl_backward`
  CHANGELOG.md
  README.md
  docs/source/examples/lightning_integration.rst
  docs/source/examples/mtl.rst
  src/torchjd/autojac/_utils.py
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/doc/test_rst.py
  tests/unit/autojac/test_mtl_backward.py
  tests/unit/autojac/test_utils.py
Labels: enhancement, package: autojac

#197 Remove pytest prefix by changing how it is imported
  tests/unit/aggregation/_property_testers.py
  tests/unit/aggregation/test_aligned_mtl.py
  tests/unit/aggregation/test_base.py
  tests/unit/aggregation/test_cagrad.py
  tests/unit/aggregation/test_constant.py
  tests/unit/aggregation/test_dualproj.py
  tests/unit/aggregation/test_graddrop.py
  tests/unit/aggregation/test_imtl_g.py
  tests/unit/aggregation/test_krum.py
  tests/unit/aggregation/test_mean.py
  tests/unit/aggregation/test_mgda.py
  tests/unit/aggregation/test_pcgrad.py
  tests/unit/aggregation/test_random.py
  tests/unit/aggregation/test_sum.py
  tests/unit/aggregation/test_trimmed_mean.py
  tests/unit/aggregation/test_upgrad.py
  tests/unit/autojac/_transform/test_accumulate.py
  tests/unit/autojac/_transform/test_aggregate.py
  tests/unit/autojac/_transform/test_base.py
  tests/unit/autojac/_transform/test_tensor_dict.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
  tests/unit/autojac/test_utils.py
  tests/unit/conftest.py
Labels: tests

#198 Fix typos in some test docstrings
  tests/unit/autojac/test_mtl_backward.py
Labels: tests

#199 Remove lightning logs
  docs/source/examples/lightning_integration.rst
  tests/doc/test_rst.py
Labels: documentation, tests

#200 Add badge for documentation link
  README.md
Labels: documentation

#201 Fix error messages in `mtl_backward`
  src/torchjd/autojac/mtl_backward.py
Labels: package: autojac

#204 Rename `A` to `J` in `_compute_normalized_gramian`
  src/torchjd/aggregation/_gramian_utils.py
Labels: enhancement, package: aggregation

#205 Rename `A` to `J` in NashMTL's docstring
  src/torchjd/aggregation/nash_mtl.py
Labels: documentation, package: aggregation

#203 Rename `A` to `aggregator` in `backward` and `mtl_backward`
  CHANGELOG.md
  README.md
  docs/source/examples/basic_usage.rst
  docs/source/examples/iwrm.rst
  docs/source/examples/lightning_integration.rst
  docs/source/examples/mtl.rst
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/doc/test_rst.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: enhancement, package: autojac

#202 Add check for overlapping params in `mtl_backward`
  CHANGELOG.md
  src/torchjd/autojac/mtl_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: enhancement, package: autojac

#208 Add build-system section to pyproject.toml
  pyproject.toml
Labels: ci/cd

#207 Add note about params disjointness in `mtl_backward`
  src/torchjd/autojac/mtl_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: documentation, tests

#210 Fix docstring of `mtl_backward`
  src/torchjd/autojac/mtl_backward.py
Labels: documentation

#209 Simplify `_get_leaf_tensors`
  src/torchjd/autojac/_utils.py
  tests/unit/autojac/test_utils.py
Labels: enhancement

#211 Rename `A` to `aggregator` in `backward` and `mtl_backward` (#203)
  CHANGELOG.md
  README.md
  docs/source/examples/basic_usage.rst
  docs/source/examples/iwrm.rst
  docs/source/examples/lightning_integration.rst
  docs/source/examples/mtl.rst
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/doc/test_rst.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: enhancement, package: autojac

#215 Maintain usage examples and their tests
  docs/source/examples/basic_usage.rst
  docs/source/examples/iwrm.rst
  src/torchjd/aggregation/cagrad.py
  src/torchjd/aggregation/nash_mtl.py
  src/torchjd/aggregation/trimmed_mean.py
  tests/doc/test_aggregation.py
  tests/doc/test_backward.py
  tests/doc/test_rst.py
Labels: documentation, tests

#214 Maintain aggregation unit tests
  tests/unit/aggregation/_inputs.py
  tests/unit/aggregation/test_cagrad.py
  tests/unit/aggregation/test_imtl_g.py
  tests/unit/aggregation/test_pcgrad.py
Labels: tests, package: aggregation

#213 Maintain autojac unit tests
  tests/unit/autojac/_transform/test_accumulate.py
  tests/unit/autojac/_transform/test_aggregate.py
  tests/unit/autojac/_transform/test_base.py
  tests/unit/autojac/_transform/test_diagonalize.py
  tests/unit/autojac/_transform/test_grad.py
  tests/unit/autojac/_transform/test_init.py
  tests/unit/autojac/_transform/test_interactions.py
  tests/unit/autojac/_transform/test_jac.py
  tests/unit/autojac/_transform/test_select.py
  tests/unit/autojac/_transform/test_stack.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
  tests/unit/autojac/test_utils.py
Labels: tests, package: autojac

#217 Fix `_get_descendant_accumulate_grads`
  CHANGELOG.md
  src/torchjd/autojac/_utils.py
Labels: bug, package: autojac
