Repository TorchJD/torchjd, pull requests merged in 2024-09, with the labels that each got.

#123 Improve introduction to aggregators in the main page of the documentation
  docs/source/index.rst
Labels: documentation

#130 Improve README.md
  README.md
Labels: documentation

#134 Improve `IMTLG` implementation
  CHANGELOG.md
  src/torchjd/aggregation/imtl_g.py
Labels: enhancement, ready

#143 Revert IMTLG to using pinv
  CHANGELOG.md
  src/torchjd/aggregation/imtl_g.py
Labels: bug, ready, package: aggregation

#140 Fix IMTLG normalization
  CHANGELOG.md
  src/torchjd/aggregation/imtl_g.py
  tests/unit/aggregation/test_imtl_g.py
Labels: bug, ready, package: aggregation

#150 Rename alpha_star to v in _IMTLGWeighting
  src/torchjd/aggregation/imtl_g.py
Labels: enhancement, ready, package: aggregation

#151 Remove unused read permission in release.yml
  .github/workflows/release.yml
Labels: enhancement, ready, ci/cd

#153 Add release trigger to deploy docs
  .github/workflows/build_deploy_documentation.yml
Labels: documentation, ready, ci/cd

#152 Improve expected shape property
  tests/unit/aggregation/_inputs.py
  tests/unit/aggregation/_property_testers.py
  tests/unit/aggregation/test_aligned_mtl.py
  tests/unit/aggregation/test_cagrad.py
  tests/unit/aggregation/test_constant.py
  tests/unit/aggregation/test_dualproj.py
  tests/unit/aggregation/test_graddrop.py
  tests/unit/aggregation/test_imtl_g.py
  tests/unit/aggregation/test_krum.py
  tests/unit/aggregation/test_mean.py
  tests/unit/aggregation/test_mgda.py
  tests/unit/aggregation/test_pcgrad.py
  tests/unit/aggregation/test_random.py
  tests/unit/aggregation/test_sum.py
  tests/unit/aggregation/test_trimmed_mean.py
  tests/unit/aggregation/test_upgrad.py
Labels: ready, tests, package: aggregation
