Repository TorchJD/torchjd, pull requests merged in 2025-08, with the labels that each got.

#403 test: Fix `test_tensor_used_multiple_times` warning
  tests/unit/autojac/test_backward.py
Labels: test, package: autojac

#404 test: Fix `test_mtl_backward` warnings
  tests/unit/autojac/test_mtl_backward.py
Labels: test, package: autojac

#401 ci: make pytest warnings become errors
  .github/workflows/tests.yml
Labels: ci

#405 fix: Unchecked exception in `NashMTL`
  src/torchjd/aggregation/_nash_mtl.py
Labels: package: aggregation, fix
