Repository TorchJD/torchjd, pull requests merged in 2025-02, with the labels that each got.

#240 Update version to v0.5.0
  CHANGELOG.md
  pyproject.toml
Labels: chore

#241 Remove copyright dates
  LICENSE
  docs/source/conf.py
Labels: chore

#237 Refactor dual cone projections
  CHANGELOG.md
  src/torchjd/aggregation/_dual_cone_utils.py
  src/torchjd/aggregation/_gramian_utils.py
  src/torchjd/aggregation/dualproj.py
  src/torchjd/aggregation/upgrad.py
  tests/unit/aggregation/test_dual_cone_utils.py
  tests/unit/aggregation/test_upgrad.py
Labels: package: aggregation, refactor

#245 Add AMP usage example
  CHANGELOG.md
  docs/source/examples/amp.rst
  docs/source/examples/index.rst
  tests/doc/test_rst.py
Labels: docs

#247 Clean up `.gitignore`
  .gitignore
Labels: chore

#248 Raise error if `solve_qp` returns `None` (#248)
  src/torchjd/aggregation/_dual_cone_utils.py
  tests/unit/aggregation/test_dual_cone_utils.py
Labels: package: aggregation, fix

#250 Improve `_dual_cone_utils` docstrings
  src/torchjd/aggregation/_dual_cone_utils.py
Labels: docs, package: aggregation

#252 Improve `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: docs
