Repository TorchJD/torchjd, pull requests merged in 2025-04, with the labels that each got.

#291 Add Discord badge
  README.md
Labels: docs

#293 Revert creation of CNAME file by github
  CNAME
Labels: chore

#281 Improve `ConFIG` implementation
  CHANGELOG.md
  src/torchjd/aggregation/config.py
Labels: package: aggregation, refactor

#287 Make `Diagonalize` typing more strict
  src/torchjd/autojac/_transform/diagonalize.py
  src/torchjd/autojac/backward.py
  tests/unit/autojac/_transform/test_diagonalize.py
  tests/unit/autojac/_transform/test_interactions.py
Labels: package: autojac, refactor

#298 Improve `_transform` package structure
  src/torchjd/autojac/_transform/_differentiate.py
  src/torchjd/autojac/_transform/_materialize.py
  src/torchjd/autojac/_transform/_utils.py
  src/torchjd/autojac/_transform/base.py
  src/torchjd/autojac/_transform/grad.py
  src/torchjd/autojac/_transform/jac.py
  src/torchjd/autojac/_transform/ordered_set.py
  src/torchjd/autojac/_transform/select.py
  src/torchjd/autojac/_transform/stack.py
  src/torchjd/autojac/_transform/tensor_dict.py
  tests/unit/autojac/_transform/test_base.py
Labels: package: autojac, refactor

#295 Remove redundant cast in `_AggregateMatrices`
  src/torchjd/autojac/_transform/aggregate.py
Labels: package: autojac, refactor

#292 Revamp documentation building, deployment and cleanup
  .github/workflows/build-deploy-docs.yml
  .github/workflows/cleanup-pr-docs.yml
Labels: ci

#299 Improve job names
  .github/workflows/build-deploy-docs.yml
  .github/workflows/cleanup-pr-docs.yml
Labels: ci

#300 Delete previous build/deploy documentation action
  .github/workflows/build_deploy_documentation.yml
Labels: ci

#303 Improve `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: docs

#304 Fix step name in `Cleanup_documentation`
  .github/workflows/cleanup-pr-docs.yml
Labels: ci

#306 Simplify documentation CI
  .github/workflows/build-deploy-docs.yml
  .github/workflows/cleanup-pr-docs.yml
  CONTRIBUTING.md
Labels: ci

#309 Add `build-doc` job to `tests.yml`
  .github/workflows/tests.yml
Labels: ci

#308 refactor(autojac): Make utilitary functions public
  src/torchjd/autojac/_utils.py
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/unit/autojac/test_utils.py
Labels: package: autojac, refactor

#310 Remove write permission from `build-doc`
  .github/workflows/tests.yml
Labels: ci

#307 refactor(aggregation): Make utilitary functions public
  src/torchjd/aggregation/_dual_cone_utils.py
  src/torchjd/aggregation/_pref_vector_utils.py
  src/torchjd/aggregation/aligned_mtl.py
  src/torchjd/aggregation/config.py
  src/torchjd/aggregation/dualproj.py
  src/torchjd/aggregation/upgrad.py
  tests/unit/aggregation/test_dual_cone_utils.py
  tests/unit/aggregation/test_pref_vector_utils.py
Labels: package: aggregation, refactor

#312 Improve typing
  CHANGELOG.md
  src/torchjd/autojac/_transform/_differentiate.py
  src/torchjd/autojac/_transform/grad.py
  src/torchjd/autojac/_transform/init.py
  src/torchjd/autojac/_transform/jac.py
  src/torchjd/autojac/_transform/ordered_set.py
  src/torchjd/autojac/_transform/select.py
  src/torchjd/autojac/_utils.py
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/unit/autojac/_transform/test_grad.py
  tests/unit/autojac/_transform/test_init.py
  tests/unit/autojac/_transform/test_interactions.py
  tests/unit/autojac/_transform/test_jac.py
  tests/unit/autojac/_transform/test_select.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: package: autojac, refactor

#313 Add `OrderedSet.__add__`
  src/torchjd/autojac/_transform/ordered_set.py
  src/torchjd/autojac/mtl_backward.py
Labels: package: autojac, refactor

#314 Add canonical link to html pages
  docs/source/_templates/page.html
  docs/source/conf.py
Labels: docs

#315 Add version-selector in page.html template
  docs/source/_templates/page.html
Labels: docs

#316 Remove warning filtering from `test_cagrad`
  tests/doc/test_aggregation.py
Labels: test, package: aggregation

#317 Fix type mismatch bug in `NashMTL`
  CHANGELOG.md
  src/torchjd/aggregation/nash_mtl.py
Labels: package: aggregation, fix

#318 Add `NashMTL` tests
  tests/unit/aggregation/_inputs.py
  tests/unit/aggregation/test_nash_mtl.py
Labels: test, package: aggregation

#319 Add comment in `NashMTL`
  src/torchjd/aggregation/nash_mtl.py
Labels: docs, package: aggregation

#320 Pepare v0.6.0 release
  CHANGELOG.md
  pyproject.toml
Labels: chore

#321 Add step to kill ssh-agent in build-deploy-docs.yml
  .github/workflows/build-deploy-docs.yml
Labels: docs, ci

#322 Add source code links
  .github/workflows/build-deploy-docs.yml
  docs/source/conf.py
Labels: docs, ci

#325 Fix links in `README.md`
  README.md
Labels: docs

#280 Explicit dependence on gramians
  src/torchjd/aggregation/aligned_mtl.py
  src/torchjd/aggregation/cagrad.py
  src/torchjd/aggregation/imtl_g.py
  src/torchjd/aggregation/krum.py
  src/torchjd/aggregation/mgda.py
  src/torchjd/aggregation/pcgrad.py
Labels: package: aggregation, refactor

#326 Document `Transform`s
  src/torchjd/autojac/_transform/_differentiate.py
  src/torchjd/autojac/_transform/accumulate.py
  src/torchjd/autojac/_transform/aggregate.py
  src/torchjd/autojac/_transform/base.py
  src/torchjd/autojac/_transform/diagonalize.py
  src/torchjd/autojac/_transform/grad.py
  src/torchjd/autojac/_transform/init.py
  src/torchjd/autojac/_transform/jac.py
  src/torchjd/autojac/_transform/select.py
  src/torchjd/autojac/_transform/stack.py
Labels: docs, package: autojac

#327 Make some aggregator dependencies optional
  .github/workflows/tests.yml
  CHANGELOG.md
  README.md
  docs/source/installation.md
  pyproject.toml
  src/torchjd/aggregation/cagrad.py
  src/torchjd/aggregation/nash_mtl.py
Labels: chore, breaking-change

#328 Fix installation of optional dependencies
  .github/workflows/build-deploy-docs.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
Labels: docs, ci

#329 Fix optional dependencies
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  src/torchjd/aggregation/__init__.py
  src/torchjd/aggregation/_check_dependencies.py
  src/torchjd/aggregation/cagrad.py
  src/torchjd/aggregation/nash_mtl.py
Labels: package: aggregation, fix

#331 Migrate from `pdm` to `uv`
  .github/workflows/build-deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  pyproject.toml
Labels: ci

#333 Add -e to uv pip install
  CONTRIBUTING.md
Labels: docs
