Repository TorchJD/torchjd, pull requests merged in 2025-01, with the labels that each got.

#229 Make _pref_vector_to_weighting take a default weighting as param
  src/torchjd/aggregation/_pref_vector_utils.py
  src/torchjd/aggregation/aligned_mtl.py
  src/torchjd/aggregation/dualproj.py
  src/torchjd/aggregation/upgrad.py
Labels: enhancement, package: aggregation

#230 Add `_pref_vector_to_str_suffix`
  src/torchjd/aggregation/_pref_vector_utils.py
  src/torchjd/aggregation/aligned_mtl.py
  src/torchjd/aggregation/dualproj.py
  src/torchjd/aggregation/upgrad.py
Labels: package: aggregation

#231 Fix device type in `conftest.py`
  CONTRIBUTING.md
  tests/unit/conftest.py
Labels: tests

#232 Use `torch.set_default_device` in `conftest.py`
  tests/doc/test_backward.py
  tests/unit/aggregation/_inputs.py
  tests/unit/aggregation/test_base.py
  tests/unit/aggregation/test_constant.py
  tests/unit/aggregation/test_graddrop.py
  tests/unit/aggregation/test_imtl_g.py
  tests/unit/aggregation/test_mgda.py
  tests/unit/aggregation/test_pcgrad.py
  tests/unit/aggregation/test_upgrad.py
  tests/unit/autojac/_transform/test_accumulate.py
  tests/unit/autojac/_transform/test_aggregate.py
  tests/unit/autojac/_transform/test_base.py
  tests/unit/autojac/_transform/test_diagonalize.py
  tests/unit/autojac/_transform/test_grad.py
  tests/unit/autojac/_transform/test_init.py
  tests/unit/autojac/_transform/test_interactions.py
  tests/unit/autojac/_transform/test_jac.py
  tests/unit/autojac/_transform/test_select.py
  tests/unit/autojac/_transform/test_stack.py
  tests/unit/autojac/_transform/test_tensor_dict.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
  tests/unit/autojac/test_utils.py
  tests/unit/conftest.py
Labels: tests

#233 Add representation tests when `pref_vector` is not `None`
  tests/unit/aggregation/test_aligned_mtl.py
  tests/unit/aggregation/test_dualproj.py
  tests/unit/aggregation/test_upgrad.py
Labels: tests, package: aggregation

#236 Add casts to correct dtypes when converting a Tensor to a np.array
  src/torchjd/aggregation/cagrad.py
  src/torchjd/aggregation/dualproj.py
  src/torchjd/aggregation/upgrad.py
Labels: package: aggregation, refactor

#238 Use diff code block in README usage example
  README.md
Labels: documentation, enhancement

#219 Add python 3.13 support
  .github/workflows/tests.yml
  docs/source/installation.md
  pyproject.toml
Labels: documentation, ci/cd, tests
