Repository TorchJD/torchjd, pull requests merged in 2025-03, with the labels that each got.

#256 Improve input matrix generation
  tests/unit/aggregation/_inputs.py
  tests/unit/aggregation/_property_testers.py
  tests/unit/aggregation/test_cagrad.py
  tests/unit/aggregation/test_constant.py
Labels: test, package: aggregation

#255 Add `LinearUnderScalingProperty`
  tests/unit/aggregation/_property_testers.py
  tests/unit/aggregation/test_config.py
  tests/unit/aggregation/test_constant.py
  tests/unit/aggregation/test_mean.py
  tests/unit/aggregation/test_sum.py
  tests/unit/aggregation/test_upgrad.py
Labels: test, package: aggregation

#259 Rename `TestRGW` to `TestRandom`
  tests/unit/aggregation/test_random.py
Labels: test, package: aggregation

#260 Improve property parametrization
  tests/unit/aggregation/_inputs.py
  tests/unit/aggregation/_property_testers.py
  tests/unit/aggregation/test_imtl_g.py
Labels: test, package: aggregation

#261 Fix overridden parametrization
  tests/unit/aggregation/_inputs.py
  tests/unit/aggregation/test_cagrad.py
  tests/unit/aggregation/test_constant.py
  tests/unit/aggregation/test_krum.py
  tests/unit/aggregation/test_trimmed_mean.py
Labels: test, package: aggregation

#262 `GradDrop` error message typo
  src/torchjd/aggregation/graddrop.py
Labels: package: aggregation, fix

#263 `GradDrop` error message typo
  src/torchjd/aggregation/graddrop.py
Labels: package: aggregation, fix

#264 Add tests for aggregator checks
  tests/unit/aggregation/test_base.py
  tests/unit/aggregation/test_cagrad.py
  tests/unit/aggregation/test_constant.py
  tests/unit/aggregation/test_graddrop.py
  tests/unit/aggregation/test_krum.py
  tests/unit/aggregation/test_trimmed_mean.py
Labels: test, package: aggregation

#266 Remove duplicate test parametrizations
  tests/unit/aggregation/_inputs.py
Labels: test, package: aggregation

#265 Make `_pref_vector_to_weighting` check input itself
  src/torchjd/aggregation/_pref_vector_utils.py
  src/torchjd/aggregation/aligned_mtl.py
  src/torchjd/aggregation/config.py
  src/torchjd/aggregation/dualproj.py
  src/torchjd/aggregation/upgrad.py
  tests/unit/aggregation/test_pref_vector_utils.py
Labels: package: aggregation, refactor

#270 Remove exception re-raising with svd
  src/torchjd/aggregation/_gramian_utils.py
Labels: package: aggregation, refactor

#271 Add missing TensorDict tests
  tests/unit/autojac/_transform/test_tensor_dict.py
Labels: test, package: autojac

#272 Fix `Grad` behavior on empty outputs
  src/torchjd/autojac/_transform/grad.py
Labels: package: autojac, fix

#273 Add tests for empty outputs
  tests/unit/autojac/_transform/test_grad.py
  tests/unit/autojac/_transform/test_jac.py
Labels: test, package: autojac

#274 Add `test_stack_different_required_keys`
  tests/unit/autojac/_transform/test_interactions.py
Labels: test, package: autojac

#275 Add `test_keys_check` for `Select`
  tests/unit/autojac/_transform/test_select.py
Labels: test, package: autojac

#276 Remove useless checks in `Jac`
  src/torchjd/autojac/_transform/jac.py
Labels: package: autojac, refactor

#277 Fix differentiation with repeated tensors
  CHANGELOG.md
  src/torchjd/autojac/_transform/_differentiate.py
  src/torchjd/autojac/_transform/_utils.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: package: autojac, fix

#278 Remove `test_equivalence_mean` in `CAGrad`
  tests/unit/aggregation/test_cagrad.py
Labels: test, package: aggregation

#279 Isolate key checks in transforms
  CHANGELOG.md
  src/torchjd/autojac/_transform/_differentiate.py
  src/torchjd/autojac/_transform/accumulate.py
  src/torchjd/autojac/_transform/aggregate.py
  src/torchjd/autojac/_transform/base.py
  src/torchjd/autojac/_transform/diagonalize.py
  src/torchjd/autojac/_transform/init.py
  src/torchjd/autojac/_transform/select.py
  src/torchjd/autojac/_transform/stack.py
  src/torchjd/autojac/_transform/tensor_dict.py
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/unit/autojac/_transform/test_accumulate.py
  tests/unit/autojac/_transform/test_aggregate.py
  tests/unit/autojac/_transform/test_base.py
  tests/unit/autojac/_transform/test_diagonalize.py
  tests/unit/autojac/_transform/test_grad.py
  tests/unit/autojac/_transform/test_init.py
  tests/unit/autojac/_transform/test_interactions.py
  tests/unit/autojac/_transform/test_jac.py
  tests/unit/autojac/_transform/test_select.py
  tests/unit/autojac/_transform/test_stack.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: package: autojac, refactor

#282 Rename internal variable
  src/torchjd/autojac/mtl_backward.py
Labels: package: autojac, refactor

#283 Fix non-deterministic column order
  CHANGELOG.md
  src/torchjd/autojac/_transform/_differentiate.py
  src/torchjd/autojac/_transform/_utils.py
  src/torchjd/autojac/_transform/aggregate.py
  src/torchjd/autojac/_transform/diagonalize.py
  src/torchjd/autojac/_transform/ordered_set.py
  src/torchjd/autojac/_utils.py
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/unit/autojac/test_utils.py
Labels: package: autojac, fix

#285 Fix `test_get_leaf_tensors_empty_roots`
  tests/unit/autojac/test_utils.py
Labels: test, package: autojac

#286 Refactor key requirements
  src/torchjd/autojac/_transform/__init__.py
  src/torchjd/autojac/_transform/_differentiate.py
  src/torchjd/autojac/_transform/accumulate.py
  src/torchjd/autojac/_transform/aggregate.py
  src/torchjd/autojac/_transform/base.py
  src/torchjd/autojac/_transform/diagonalize.py
  src/torchjd/autojac/_transform/init.py
  src/torchjd/autojac/_transform/select.py
  src/torchjd/autojac/_transform/stack.py
  src/torchjd/autojac/backward.py
  src/torchjd/autojac/mtl_backward.py
  tests/unit/autojac/_transform/test_accumulate.py
  tests/unit/autojac/_transform/test_aggregate.py
  tests/unit/autojac/_transform/test_base.py
  tests/unit/autojac/_transform/test_diagonalize.py
  tests/unit/autojac/_transform/test_grad.py
  tests/unit/autojac/_transform/test_init.py
  tests/unit/autojac/_transform/test_interactions.py
  tests/unit/autojac/_transform/test_jac.py
  tests/unit/autojac/_transform/test_select.py
  tests/unit/autojac/_transform/test_stack.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: package: autojac, refactor

#288 Fix `test_check_create_transform` types
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: test, package: aggregation

#289 Make `Aggregate` typing more strict
  src/torchjd/autojac/_transform/aggregate.py
  tests/unit/autojac/_transform/test_aggregate.py
Labels: package: autojac, refactor
