Repository TorchJD/torchjd, pull requests merged in 2025-05, with the labels that each got.

#336 Improve pre-commit.ci config
  .pre-commit-config.yaml
Labels: chore

#338 chore(aggregation): Move utils of aggregation in package in `_utils`
  src/torchjd/aggregation/__init__.py
  src/torchjd/aggregation/_utils/__init__.py
  src/torchjd/aggregation/_utils/check_dependencies.py
  src/torchjd/aggregation/_utils/dual_cone.py
  src/torchjd/aggregation/_utils/gramian.py
  src/torchjd/aggregation/_utils/non_differentiable.py
  src/torchjd/aggregation/_utils/pref_vector.py
  src/torchjd/aggregation/_utils/str.py
  src/torchjd/aggregation/aligned_mtl.py
  src/torchjd/aggregation/cagrad.py
  src/torchjd/aggregation/config.py
  src/torchjd/aggregation/constant.py
  src/torchjd/aggregation/dualproj.py
  src/torchjd/aggregation/graddrop.py
  src/torchjd/aggregation/imtl_g.py
  src/torchjd/aggregation/krum.py
  src/torchjd/aggregation/mgda.py
  src/torchjd/aggregation/nash_mtl.py
  src/torchjd/aggregation/pcgrad.py
  src/torchjd/aggregation/upgrad.py
  tests/unit/aggregation/_property_testers.py
  tests/unit/aggregation/_utils/__init__.py
  tests/unit/aggregation/_utils/test_dual_cone.py
  tests/unit/aggregation/_utils/test_pref_vector.py
Labels: package: aggregation, refactor

#342 Fix hook example type hint
  docs/source/examples/monitoring.rst
  tests/doc/test_rst.py
Labels: docs, package: aggregation

#339 Refactor PropertyTester structure
  tests/unit/aggregation/_asserts.py
  tests/unit/aggregation/_inputs.py
  tests/unit/aggregation/_matrix_samplers.py
  tests/unit/aggregation/_property_testers.py
  tests/unit/aggregation/test_aligned_mtl.py
  tests/unit/aggregation/test_cagrad.py
  tests/unit/aggregation/test_config.py
  tests/unit/aggregation/test_constant.py
  tests/unit/aggregation/test_dualproj.py
  tests/unit/aggregation/test_graddrop.py
  tests/unit/aggregation/test_imtl_g.py
  tests/unit/aggregation/test_krum.py
  tests/unit/aggregation/test_mean.py
  tests/unit/aggregation/test_mgda.py
  tests/unit/aggregation/test_nash_mtl.py
  tests/unit/aggregation/test_pcgrad.py
  tests/unit/aggregation/test_random.py
  tests/unit/aggregation/test_sum.py
  tests/unit/aggregation/test_trimmed_mean.py
  tests/unit/aggregation/test_upgrad.py
Labels: test, package: aggregation

#348 Make documentation building fail on warning
  docs/Makefile
  docs/source/conf.py
  docs/source/examples/lightning_integration.rst
Labels: docs

#352 Make OrderedSet a MutableSet
  src/torchjd/_autojac/_transform/_ordered_set.py
Labels: package: autojac, refactor

#356 Make `OrderedSet` public
  src/torchjd/_autojac/_backward.py
  src/torchjd/_autojac/_mtl_backward.py
  src/torchjd/_autojac/_transform/__init__.py
  src/torchjd/_autojac/_utils.py
  tests/unit/autojac/_transform/test_aggregate.py
  tests/unit/autojac/_transform/test_diagonalize.py
  tests/unit/autojac/_transform/test_grad.py
  tests/unit/autojac/_transform/test_interactions.py
  tests/unit/autojac/_transform/test_jac.py
  tests/unit/autojac/test_backward.py
  tests/unit/autojac/test_mtl_backward.py
Labels: package: autojac, refactor

#357 Fix typos
  CONTRIBUTING.md
  docs/source/installation.md
Labels: docs

#358 Fix monitoring example
  docs/source/examples/monitoring.rst
  tests/doc/test_rst.py
Labels: docs
